body {
    background: linear-gradient(270deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(154, 171, 0, 1) 100%);
    color: aliceblue;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: lighter;
}
div.header {
    font-size: 100px;
    text-align: center;
}
div.wrapper {
    visibility: hidden;
}
div.controls {
    text-align: center;
    justify-content: center;
    font-size: 100px;
    margin-top: 100px;
}
div.second-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
div.second-wrapper * {
    font-size: 75px;
    text-align: center;
    justify-content: center;
}